{% extends 'base.html.twig' %}
{% block title %}  product index {% endblock %}

{% block h1Title %}product index{% endblock %}
{% block main %}


{%  if products is not empty  %}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Slug</th>
        <th>Creation</th>
        <th>Price</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.slug }}</td>
            <td>{{ product.publishedAt|date("d/m/Y") }}</td>
            <td>{{ product.price }}</td>
            <td>
                <a href="{{ path('product_show', {'id':
                    product.id}) }}">show</a>

                <a href="{{ path('product_edit', {'id':
                    product.id}) }}">edit</a>

                <form method="post" action="{{ path('product_delete', {'id':
                    product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <button class="btn">Delete</button>
                </form>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
{% else %}
no records found
{% endif %}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}