{% extends 'base.html.twig' %}
{% block title %}New Post{% endblock %}
{% block main %}
    <h1>Create new Post</h1>
{# {{ form(form) }} #}

    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_label(form.name, 'Your name', {
                'label_attr': {'class': 'CUSTOM_LABEL_CLASS'}
            }) }}

            {{ form_widget(form.name, {'attr': {'class': 'task_field'}}) }}
        </div>
        <div class="col" id="some-name">
            <br/>
            {{ form_row(form.price) }}
        </div>
        <div class="col" id="some-name">
            <br/>
            {{ form_row(form.category) }}
        </div>
        <div class="col" id="some-name">
            <br/>
            {{ form_row(form.tags) }}
        </div>
        <div class="col" id="some-name">
            <br/>
            {{ form_row(form.publishedAt) }}
        </div>
        <div class="col" id="some-name">
            <br/>
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col" id="some-price">
            <br/>
            <br/>
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}