{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ post.name }}{% endblock %}
{% block h1Title %}{{ post.name }}{% endblock %}
{% block main %}
<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ post.id }}</td>
        <td>{{ post.name }}</td>
        <td>{{ post.price }}</td>
    </tr>
    </tbody>
</table>
    {% for tag in post.tags %}
        {{ tag.name }}<br/>

    {% endfor %}

    <a href="{{ path('listing') }}">back to list</a>
{% endblock %}

