{% extends 'base.html.twig' %}
{% block title %}  sites {% endblock %}

{% block h1Title %}{{ 'site.list'|trans|raw }}  {{ 'test.h1'|trans|raw }}{% endblock %}
{% block main %}


    {%  if sites is not empty  %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.id }}</td>
                    <td><img src="/media/sites/{{ site.logo }}" width="100%" alt="{{ site.name }}" /></td>
                    <td>{{ site.name }}</td>
                    <td>
                        <a href="{{ path('request_siteexample', {'id':
                            site.id}) }}">details</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        no records found
    {% endif %}
{% endblock %}
{% block sidebar %}
    {{ parent() }}
{% endblock %}